@media screen and (max-width : 999px)
{
*
{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

.carousel-wall
{
  height:450px;
}

.logo
{
  margin-left:-45px;
}


.let-us
{
  font-size:20px!important; 
  font-weight: 500px; 
  color:#0192EB;
  padding-top:100px;
  text-align: center;
}

.image-res
{
	width:70%;
	margin-left:70px;
	margin-top:-50px;
}

.solar
{
	padding-top:210px!important; 
	color:#08AEE9!important;
	font-size:17px;
	margin-top:-130px;

}

.solar-text
{
  font-size:17px; 
}

.solar-text1
{
  font-size:15px; 
}

.know-more
{
  font-size:15px;
  border: 1px solid #01A7F9;
  border-radius: 30px;
  background: #01A7F9;
  color:#fff;
  padding:9px 15px 9px 15px;
}

.know-more:hover
{
  font-size:15px;
  border: 1px solid #9EFF56;
  border-radius: 30px;
  background: #9EFF56;
  color:black;
  padding:9px 15px 9px 15px;
}

.toll
{
  font-size:15px;
  color:grey;
  margin-left:-25px;
}

.img-res1
{
	width:90%;
	padding-left:37px;
}

.blog1
{
  font-size:15px;
  margin-left:37px;
  color:#4D95C8;
  padding:20px 0px 0px 0px!important;
}

.blog2
{
  font-size:17px;
  color:#4D95C8;
  margin-left:37px;
  padding:6px 0px 0px 0px!important;
  font-weight:600;
  text-transform: uppercase;
}

.blog-para
{
  color:grey;
  font-size: 15px;
  margin-left:37px;
  padding:24px 0px 0px 0px;
}

.read-more
{
  font-size:15px;
  border: 2px solid #1A90C6;
  border-radius: 30px;
  background: #fff;
  color:#1A90C6;
  margin-left:37px;
  padding:9px 15px 9px 15px;
  text-transform: uppercase;
}

.read-more:hover
{
  font-size:15px;
   margin-left:37px;
  border: 2px solid #1A90C6;
  border-radius: 30px;
  background: #1A90C6;
  color:#fff;
  padding:9px 15px 9px 15px;
  text-transform: uppercase;
}

.text-increase
{
  font-size: 17px;
  letter-spacing: 1px;
}

.text-border
{
  border-bottom:3px solid #fff!important;
  padding-bottom: 13px;
}

.feature
{
  font-size:20px; 
  font-weight: 700px; 
  color:#0192EB;
  padding:80px 0px 10px 39px;
}

.feature-border
{
  border-bottom: 2px solid #0192EB;
   padding-bottom:13px!important;
}

.feat-para
{
  color:grey;
  font-size: 15px!important;
  padding:56px 0px 0px 0px;
}
.img-res2
{
	width:100%;
	margin-left:-20px;
}

.img-res3
{
	width:100%;
	margin-left:-20px;
	padding-top:45px;
}

.img-res4
{
	width:100%;
	margin-left:-20px;
	padding-top:45px;
	margin-top:-27px;
}

.img-res5
{
	width:100%;
	margin-left:-20px;
	padding-top:45px;
}

.back-font
{
  font-size: 20px;
  color:#9EFF56;
  text-align: center;
  padding-top:20px;
}

.back-para
{
  color:grey;
  font-size: 15px;
  padding-top:10px;
  text-align: center;
}

.ask-us
{
  font-size:15px;
  border: 2px solid #1A90C6;
  border-radius: 30px;
  background:#fff;
  color:#1A90C6;
  padding:9px 17px 9px 17px;
  text-transform: uppercase;
  /*
  z-index:#2E81B2!important;
  */
}


.ask-us:hover
{
  font-size:15px;
  border: 2px solid #1A90C6;
  border-radius: 30px;
  background:#1A90C6;
  color:#fff;
  padding:9px 17px 9px 17px;
  text-transform: uppercase;
  /*
  z-index:#2E81B2!important;
  */
}

.skill
{
  font-size:22px;
  color:#297CB2;
  font-weight:600;
  text-align:center;
}

.skill-text
{
  font-size:15px!important;
  color:grey;
  font-weight:400;
  text-align:center;
  padding-top: 10px;
}

.skill-para
{
  color:grey;
  font-size: 15px;
  padding-top:80px;
}

.skill-para1
{
  color:grey;
  font-size: 15px;
  padding-top:20px;
  margin-left:-50px;
}

.res-sun
{		
	padding-left:20px;
}

.renewable-text
{
  font-size:17px;
  font-weight:300px;
  color:grey;
  margin-left:-50px;
}

.renewable-text:hover
{
  font-size:17px;
  margin-left:-50px;
  color:#1A90C6;
  font-weight:300px;
}

.text-no
{
  font-weight: 450!important;
  font-size: 30px;
  margin-left:-1px;
}

.text-num2
{
  margin-left:-25px!important;
}

.text-para1
{
  font-size:15px;
  margin-left: -23px;
}

.text-para2
{
  font-size:15px;
}

.read-img-res
{
  padding-top:30px;
}

.text-19
{
  font-size: 16px;
  color:#0F5DB9;
  padding-top:15px!important;
  letter-spacing: 1px!important;
}


.know-more-res
{
  font-size:15px;
  border: 1px solid #01A7F9;
  border-radius: 30px;
  background: #fff;
  color:black;
  padding:12px 15px 12px 15px;
  margin-left:115px;
}

.know-more-res:hover
{
  font-size:15px;
  border: 1px solid #01A7F9;
  border-radius: 30px;
  background: #9EFF56;
  color:black;
  padding:12px 15px 12px 15px;
  margin-left:130px;
}

.text-18
{
  font-size: 17px;
  color:#5C6265;
  border-bottom: 1px solid #0F5DB9;
  text-align: center;
  padding-top:20px;
}

.text-june
{
  font-size: 15px;
  color:#5C6265;
  border-bottom: 1px solid #0F5DB9;
  text-align: center!important;
  font-weight:600;
  padding-bottom: 5px;
  margin-top:-5px; 
}

.date1
{
  color:#5C6265;
  font-size: 17px!important;
}

.read-scroll
{
  background:#0F5DB9;
  color:#fff;
  padding:10px 15px 10px 15px;
  font-size:15px;
  text-transform: uppercase;
  border:#0F5DB9; 
  border-radius: 30px;
}

.read-scroll:hover
{
  background:#8EE54D;
  color:#0F5DB9;
  padding:10px 15px 10px 15px;
  font-size:15px;
  text-transform: uppercase;
  border:#0F5DB9; 
  border-radius: 30px;
}
.skill-img-res
{
  margin-top:25px!important;
}


/* About Us responsive code */

.vision
{
  font-size:20px; 
  font-weight: 500px; 
  color:#0192EB;
  padding-top:70px;
}

.vision-text
{
  font-size:15px;
  color:#1A90C6;
  font-weight:300px;
}

.vision-res
{
  margin-top:20px;
}

.vision-img-text
{
  color:grey;
  font-size: 15px;
  padding-top:8px;
}

.img-about-res
{
  padding-left:20px;
}

.img-about-res1
{
  padding-top:20px;
}

.font1-res
{
  color:#1A90C6;
  font-weight:300px;
  margin-top:60px;
  margin-left:-30px;
}

.font1
{
  font-size:17px!important;
  color:#1A90C6;
  font-weight:300px;
}

.font2
{
  font-size:20px; 
  font-weight: 500px; 
  color:#0192EB;
  padding-top: 10px;
  margin-left:-30px;
}

.font2-border
{
  border-bottom: 3px solid #0192EB;
   padding-bottom:10px!important;
}


.vision-para2
{
  font-size:15px!important;
  padding-top: 15px;
  margin-left: -30px;
  text-align: justify-all;
}

.vision-para
{
  font-size:15px;
  padding-top: 36px;
  text-align: justify-all;
  margin-left:-120px;
}

.vision-para1
{
  font-size:15px;
  padding-top: 15px;
  text-align: justify-all;
}

.font-green
{
  font-size:17px!important;
  color:#1A90C6;
  font-weight:300px;
  margin-left:-30px;
}

.consul
{
  color:#225A7E;
  font-size:17px;
  letter-spacing: 1px;
  padding-top:55px!important;
}


.har-res
{
  padding-top: 30px;
}

.consultancy1
{
  color:#2095C2;
  font-weight:400;
  font-size:20px;
  letter-spacing: 1px;
}
.consultancy
{
  color:#2095C2;
  font-weight:600;
  font-size:20px;
  letter-spacing: 1px;
  margin-top:-10px;
}

.consultancy-border
{
  border-bottom: 2px solid #0192EB;
   padding-bottom:40px!important;
}

.font3
{
  color:grey;
  font-size: 15px;
  padding-top:25px!important;
}

.polluting
{
  padding-left:30px;
}

.let-us-border-low
{
  border-bottom: 2px solid #0192EB;
   padding-bottom:35px!important;
}


.pioneer
{
  font-size:20px; 
  font-weight: 500px; 
  color:#0192EB;
  padding-top:90px;
  letter-spacing: 1px;
}

.pioneer-border
{
  border-bottom: 2px solid #0192EB;
   padding-bottom:40px!important;
}

.pioneer-border1
{
  border-bottom: 2px solid #0192EB;
   padding-bottom:10px!important;
}

.script-text
{
  padding-top:30px;
  font-size:15px;
}

.mission
{
  font-size:20px; 
  font-weight: 500px; 
  color:#0192EB;
  padding-top:110px;
  letter-spacing: 1px;
  text-align: center;
  padding-top:60px;
}

.mission-font
{
  color:grey;
  font-size: 15px;
  text-align: center!important;
  margin-top:-10px;
}

.our-mission
{
  color:#5C6265;
  font-weight:400;
  font-size:20px;
  letter-spacing: 1px;
  padding-top:20px;
  text-align: center;
}

.mission-text
{
  font-size:15px;
  color:#5C6265;
  text-align: center;
  text-align: justify-all;
}

.horizontal-list ul {
  list-style: none;
  padding-top: 20px;
  }

.horizontal-list li {
  display: inline;
  width:10px;
  float:left;
  font-size:17px;
  padding-left:50px;

  }

.border-li
{
  border-bottom:8px solid green;
  padding-top:30px;
  padding-bottom: 80px;

}

.know-more-mission
{
  font-size:15px;
  border: 2px solid #1A90C6;
  border-radius: 30px;
  background:#1A90C6;
  color:#fff;
  padding:12px 15px 12px 15px;
  text-transform: uppercase;
}

.know-more-mission:hover
{
  font-size:15px;
  border: 2px solid #88ED69;
  border-radius: 30px;
  background: #88ED69;
  color:#fff;
  padding:12px 15px 12px 15px;
  text-transform: uppercase;
}

.testimonial
{
  color:#fff;
  font-size:20px;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 500;
  border-bottom: 4px solid #fff;
}

.test-text
{
  font-size:17px;
  margin-top:-25px;
}

.right-icon-res
{
  margin-left:25px;
}
/* footer */

.foot li
{
  display: block;
  font-size: 15px;
  padding:10px 0px 10px 0px;
  border-bottom: 1px solid grey;
  padding-left:70px;
}


.useful-res
{
  padding-top: 20px;
}

.footer-icon
{
  margin-left:-40px;
}

.con-res
{
  margin-left:-85px;
  font-size:15px;
}


.con-pad
{
  padding-top: 50px;
}

.link
{
  text-decoration:none!important; 
  color:#fff!important;
  font-size:15px;
}
.con-text
{
  margin-left:-40px;
  padding-top:16px;
  font-size:25px;
  font-weight:600!important;
}

/*top */

.contact-text
{
  font-size:22px;
  color:#000000;
  padding: 40px 0px 0px 60px;
  font-weight: 600;
  margin-left:-50px;
}

.contact-nav
{
    text-decoration:none;
    color:black; 
    margin-left:-50px;
}

.top-text-res
{
  margin-left:-45px;
  font-size:20px;
}

.top-back-res
{
  margin-top: -5px!important;
}

/* contact Us page */

.query-font
{
  font-size:20px!important;
  text-align:center;
  font-weight:600;
  padding-top:70px!important;
  color:#5C6265;
}

.query-text
{
  font-size:15px;
  text-align: center;
  color:#5C6265;
}

.enquiry-font
{
  font-size:20px;
  color:#5C6265;
}

.add-icon-res
{
  margin-left:45px;
  padding-top: 35px;
}

.icon-text-res
{
  margin-left:-90px;
    padding-top: 30px;
}

.send-button
{
  font-size:16px;
  padding:15px 37px 15px 37px;
  font-weight:500;
  background:#1A90C6;
  color:#fff;
  border:1px solid #1A90C6;
  border-radius: 30px;
  margin-top: 25px;
}

.send-button:hover
{
  font-size:16px;
  padding:15px 37px 15px 37px;
  font-weight:500;
  background:#9EFF56;
  color:#1A90C6;
  border:1px solid #9EFF56;
  border-radius: 30px;
  margin-top: 25px;
}

}
